:root {
  --main-bg-color: light grey;
  --main-text-color: black;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: darkolivegreen;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
}

.light-mode{
  background: var(--main-bg-color);
  color: var(--main-text-color);
}

.customerGrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card{
  grid-column: span 1;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.card:last-child:nth-child(odd){
  grid-column: span 2;
  margin-left: auto;
  margin-right: auto;

}

@media screen and (max-width: 1200px) {

  .customerGrid{
    display: grid;
    grid-template-columns: 1fr;
  }

  .card:last-child:nth-child(odd){
    grid-column: span 1;
  }
}

@media screen and (max-width: 530px) {

  .card{
    width: 300px;
  }
}

